extends layout
block content
  h1 Login

  form#formLogin(name="login", method="post", action="/login")
    input#inputUserName(type="text", placeholder="Username", name="username")
    input#inputUserPassword(type="password", placeholder="Password", name="password")
    button#btnSubmit(type="submit") submit  